:root {
  --black: #222222;
  --lightGrey: #888888;
  --header: #f6f6f7;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: var(--header);
  z-index: 9999;
  margin-top: 15px;
}

.cartLink {
  font-size: 17px;
  padding: 5px 10px;
  color: var(--lightGrey);
  text-decoration: none;
  cursor: pointer;
  float: right;
  margin-right: 15%;
}

.cartLink:hover {
  color: black;
}

.dropdownContent {
  position: absolute;
  background-color: #ffffff;
  width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  top: 100%;
  right: 15%;
}

.dropItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

.dropImage {
  width: 50%;
  height: 130px;
  flex: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dropImg {
  width: 50%;
  height: 250%;
}

.dropDetails {
  flex: 1;
  text-align: left;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

.image {
  flex: 1;
  padding: 10px;
}

.img {
  width: 80%;
  height: 80%;
}

.details {
  flex: 1;
  padding: 10px;
}

.description {
  color: var(--lightGrey);
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.boxContainer {
  margin-top: 15px;
  display: flex;
}

.box {
  width: 50px;
  height: 50px;
  color: #cccccc;
  border: 2px solid #cccccc;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box.selected {
  border: 2px solid var(--black);
}

.button {
  width: 190px;
  height: 50px;
  background-color: #ffffff;
  color: var(--black);
  font-weight: bold;
  font-size: 19px;
  border: 2px solid var(--black);
  margin-top: 15px;
  cursor: pointer;
}

button:hover {
  background-color: var(--black);
  color: #ffffff;
}

/* Media queries for different screen sizes */
/* Adjust styles for screens with a maximum width of 768px (e.g., tablets) */
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    /* Add any other necessary adjustments for smaller screens */
  }
}

/* Adjust styles for screens with a maximum width of 480px (e.g., mobile phones) */
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    /* Additional adjustments for even smaller screens */
  }
  .boxContainer {
    flex-wrap: wrap; /* Allow boxes to wrap to new lines on small screens */
  }

  .image {
    flex: 1;
  }
}
